*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.flex-conteiner{
    display: flex;
}
.header{
    color: cornsilk;
    display: flex;
    background-color: #1c4488;
    justify-content: space-between;
}
.header h1{
    margin: 14px 0px 14px 28px;
}
.menu {
    max-width: 45vw;
    min-width: 320px;
    margin-right: 14px;
    margin-left: 14px;
    align-items: center;
    list-style: none;
}
.menu li a{
    color: cornsilk;
    margin: 14px
}
.apresentacao-1{
    height: 100%;
    margin-left: 22px;
    color: #1c4488;
    justify-content: space-evenly;
    align-items: center;
}
.apresentacao-2{
    margin-right: 22px;
    color: #1c4488;
    justify-content: space-evenly;
    align-items: center;
}
.botao{
    text-decoration: none;
    margin-top: 7px;
    padding: 11px;
    text-align: center;
    display: block;
    color: cornsilk;
    background-color: #1c4488;
    border-radius: 7px;
}
.img{
    max-width: 45vw;
    min-width: 40vw;
    width: auto;
    height: auto;
    display: block;
}
.texto{
    max-width: 45vw;
}
.texto h2{
    display: flex;
}
.texto h2::before{
    content: " ";
    background-color: #1c4488;
    width: 4px;
    margin-right: 4px;
}
.conteiner-bottom{
    padding: 22px;
    color: cornsilk;
    flex-direction: column;
    background-color: #1c4488 ;
}
.lista-servicos{
    text-align: center;
    padding: 28px;
    flex-direction: row;
    justify-content: space-around;
}
.lista-servicos a{
    color: #1c4488;
    background-color: cornsilk;
}
.planos{
    margin-top: 14px;
    flex-direction: column;
    color: #1c4488;
}
.planos-list{
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-end;
}
.planos-item {
    padding: 22px;
    margin: 22px;
    border: 5px solid #1c4488;
}
.planos-item h3{
    display: flex;
    flex-direction: column;
}
.planos-item h3::after{
    margin-top: 4px;
    content: "";
    background-color: #1c4488;
    height: 4px;
    width: 100%;
} 
.planos-item ul{
    list-style: none;
    padding: 22px; 
}
.planos-item ul li{
    display: flex;
    flex-direction: row;
}
.planos-item ul li::before{
    align-self: center;
    justify-self: center;
    content: "";
    font-size: 0px;
    background-color: #1c4488;
    width: 7px;
    height: 7px;
    margin-right: 4px;
    border-radius: 2px;
}
footer{
    background-color: #1c4488;
    color:cornsilk
}