*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-conteiner{
    display: flex;
}
.header{
    color: cornsilk;
    display: flex;
    background-color: #1c4488;
    justify-content: space-between;
}
.header h1{
    margin: 14px 0px 14px 28px;
}
.menu {
    min-width: 320px;
    margin-right: 14px;
    margin-left: 14px;
    align-items: center;
    list-style: none;
}
.menu li a{
    color: cornsilk;
    text-decoration: none;
    margin: 14px
}
.apresentacao-1{
    margin-left: 22px;
    color: #1c4488;
    justify-content: space-evenly;
    align-items: center;
}
.botao{
    margin-top: 7px;
    text-align: center;
    display: block;
    color: cornsilk;
    background-color: #1c4488;
    border-radius: 4px;
}
.img{
    max-width:100%;
    width: auto;
    height: auto;
    display: block;
}